<app-card [display]="'none'">
  <div>
    <h4 class="text-white text-center text-sm">
      Brasil vs Argentina
    </h4>
    <p class="text-neutral-200 text-xs pt-2 text-center">
      data
    </p>

    <div class="flex items-center justify-between p-3">
      <div class="flex items-center">
        <input
          class="
            flex-1
            px-6
            py-4
            rounded
            w-10
            mr-2
            text-neutral-100
            bg-neutral-900
            border-neutral-600
            border-2
            text-sm
          "
          type="text"
        >
        <span>BRA</span>
      </div>

      <span class="text-neutral-300 text-2xl">x</span>

      <div class="flex items-center">
        <input
          class="
            flex-1
            px-6
            py-4
            rounded
            w-10
            mr-2
            text-neutral-100
            bg-neutral-900
            border-neutral-600
            border-2
            text-sm
          "
          type="text"
        >
        <span>ARG</span>
      </div>
    </div>
  </div>
</app-card>
