<section class="
  flex
  flex-col
  max-w-[414px]
  h-screen
  mx-auto
  justify-center
  text-center
  p-8
">
  <img class="mx-auto" src="../../../assets/imgs/nlw-copa-logo-white.svg" alt="Logo NLW Copa">

  <div class="pt-12 pb-4">
    <app-button [theme]="'google'">
      <div class="flex items-center justify-center">

        <span class="pr-2">
          <img src="../../../assets/imgs/google-logo.svg" alt="">
        </span>

        <span>Login with Google</span>

      </div>
    </app-button>
  </div>

  <p class="text-white text-sm font-light">We do not use any information other than your email to create your account.</p>
</section>
